/*Styling body*/

    .center {
        text-align: center;
    }
    .large-font {
        font-size: 25px;
    }

    body { 
        background-color: lightgray;
        margin: 0;
        padding: 20px;
        border: 10px solid lightcoral;
        box-sizing: border-box; 
    }
    footer {
        text-align: center;
        font-weight: bold;
    }